/* Data explorer tab styles */
/* Tabs navigation bar */
.nav-tabs.data-explorer {
   	border-bottom: 1px solid #DDD; /* bar border */
}

/* Tab box */
.nav-tabs.data-explorer> li {
    float: left;
    margin-bottom: -1px;
}

/* Inactive tab */
.nav-tabs.data-explorer> li > a {
    margin-right: 2px;
    line-height: 1.42857;
    border: *1px solid transparent;*
    border-radius: 4px 4px 0px 0px;
}

/* Inactive tab on hover, focus */
.nav-tabs.data-explorer> li > a, .nav-tabs .data-explorer> li > a:hover, .nav-tabs .data-explorer> li > a:focus {
}

/* Active tab + on hover, focus */
.nav-tabs.data-explorer> li.active > a, .nav-tabs .data-explorer> li.active > a:hover, .nav-tabs .data-explorer> li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #FFF;
    border-width: 1px;
    border-style: solid;
    border-color: #DDD #DDD transparent;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

/* Tab content */
.tab-content.data-explorer {
	padding-top: 10px;
}

/* Tab pane */
.tab-content.data-explorer  > .tab-pane {
   	display: none;
}

/* Tab pane active */
.tab-content.data-explorer  > .tab-pane.active {
   	display: block;
}

.contentTitleLeft {
	text-align: left; 
	font-weight: bold; 
	font-size: medium;	
	margin-bottom: 10px;
}

.contentTitleCenter {
	text-align: center; 
	font-weight: bold; 
	font-size: large;
	margin-bottom: 10px;	
}

.checkboxControls {
	width: 70%;
}

.checkboxControls > div {
	display:inline-block;
	margin-right: 20px;
}

.dygraph, .dygraph {
	display:inline-block; 
	float: left;
}

.export {
	float: left;
	padding-bottom: 10px;
}
.export > input {
	margin-left: 10px;
	margin-right: 5px;
	width:30%;
}