html{
	height: 100%;
}
		
body {	
	height: 100%;
	/* Variant 1 */
	/* background-color: #FFDA80;
	/* Variant 2 */
/*     background-color: #CCC; */
/*     background-image: url("/static/img/background-2-grey.jpg"); */
/*     background-repeat: repeat; */
/*     background-position: left top; */
	/* Variant 3*/
	background-color: #DEB03E;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: black; /*#333*/
	margin: 0px;
}

/* Horizontal navigation bar */ 
.navbar-default {
    background-color: black; /*#F8F8F8*/
    border-color: #E7E7E7;
    margin-bottom: 0px;
}


/* Horizontal navigation brand ('SmoWeb') + hover, focus event style */
.navbar-default .navbar-brand {
	color: #0875CA; /*#777*/
	font-size: x-large; 
	font-weight: bold; 
	text-align: center;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #0875CA;
    background-color: transparent;
}

/* Horizontal navigation dropdowns + hover, focus event style */
.navbar-default .navbar-nav > li > a {
  	color:  white; /*#777*/
  	font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #0875CA; /*#333*/
    background-color: transparent;
}

/* Horizontal navigation dropdowns on open + hover, focus event style */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #0875CA; /*#555*/
    background-color: black; /*#E7E7E7*/
}


/* Horizontal navigation dropdowns color switch on collapse */
.navbar-default .navbar-nav > li > a[aria-expanded="false"] {
	color: white;
    background-color: black; /*#E7E7E7*/
}

/* Horizontal navigation dropdowns menu */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #E6E6FA; /* #FFF */
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}


.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857;
    color: rgba(0, 82, 189, 1); /*black*/ /*#333*/
    white-space: nowrap;
}


/* Horizontal navigation dropdown menu links + on hover, focus */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: rgba(0, 82, 189, 1); /*black*/ /*#262626*/
    text-decoration: none;
    background-color: white; /*#F5F5F5*/
}

/* Logo */
.logo {
	text-align: right; 
	padding-top:10px; 
	padding-bottom: 10px
} 

.logo img {
	height: 30px; 
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0px;
  left: 0;
  z-index: 1000;
  display: block;    
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-image: url("/static/img/GreyStripes.png");
  background-repeat: repeat;
  border-right: 1px solid #eee;
  width: 180px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
}

/* Sidebar navigation */

.nav-sidebar {
	display: inline-block;
	background-image: url("/static/img/GreyStripes.png");
	background-repeat: repeat;
}

.nav-sidebar > li {
  width: 150px;
  display: inline-block;
}

.nav-sidebar > li > a {
  cursor: pointer;
}
 
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #0875CA; 
}

h1.title {
	text-align: center;
	font-weight: bold; 
}

.title-figure {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	text-align: center;
}

.title-figure > img {
	width: 500px
}


/* Content */
#content {
	height: auto; 
	min-height: 100%;
	padding-bottom: 20px;
}

/* Documentation */
div.docview {
		background-color:white; 
		border: solid 1px #CCC;
		padding: 50px;
		counter-reset: figure;
}

.align-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.figure > .caption:before {
	font-weight: bold;
	counter-increment: figure;
	content: "Figure " counter(figure) ": ";	
}

table.nice-table {
    margin-left:auto; 
    margin-right:auto;
    border: solid 1px #A0A0A0;
    margin-top: 50px;
    margin-bottom: 50px;
}

table.nice-table td,
table.nice-table th {
    padding: 10px;	
    border: solid 1px #A0A0A0;
    min-width: 70px; 
}

table.nice-table th {
	background-color: #BABABA;
}

table.nice-table tr:nth-child(even) {
	background: #E6E6FA;
}

table.nice-table tr:nth-child(odd) {
	background: #FFFFFF;
}

.page-container {
	max-width: 1000px;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 30px;	
    background-image: url("/static/img/GreyStripes.png");
    background-repeat: repeat;
    padding: 30px;
    border-radius: 10px;
}

.section {
	margin-top: 20px; 	
}

.section  h1 {
	margin-bottom: 10px;
	font-size: x-large;
}

.section  h2 {
	margin-bottom: 10px;
	font-size: large;	
}

.section  h3 {
	margin-bottom: 10px;
	font-size: large;	
}

.section  h4 {
	margin-bottom: 10px;
	font-size: medium;
	font-weight: bold;	
}

.section .select-text {
	font-size: medium;  
	margin-bottom: 5px;
/* 	color: #0875CA; */
	display: inline-block;
}

.section .label-text {
	font-weight: bold;  
	margin-bottom: 5px;
	margin-right: 5px;
}

.section .italic-text {
	font-style: italic;
}

/*
Tooltip
*/

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	z-index: 2;
	cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 150%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
/* [data-tooltip]:after { */
/* 	position: absolute; */
/* 	bottom: 150%; */
/* 	left: 50%; */
/* 	margin-left: -5px; */
/* 	width: 0; */
/* 	border-top: 5px solid #000; */
/* 	border-top: 5px solid hsla(0, 0%, 20%, 0.9); */
/* 	border-right: 5px solid transparent; */
/* 	border-left: 5px solid transparent; */
/* 	content: " "; */
/* 	font-size: 0; */
/* 	line-height: 0; */
/* } */

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
