/* Smo input/output view */

[smo-input-view] > h2.loading, [smo-output-view] > h2.loading{
	color: green;
}
[smo-input-view] > h2.error, [smo-output-view] > h2.error{
	color: red;
}

/* Field and view groups */
[smo-field-group], [smo-view-group], .converter {
	display: inline-block;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
	vertical-align:top;
}

[smo-view-group] {
	width: 95%;
}


/* Variants:
 - original blue color: #0875CA
 - darker orange: #B68700
 - bright orange: #F6922E
 - 
*/

/* Field group label style */
.field-group-label {
	background-color: #0875CA;
	color: white;
	font-size: large;
	text-align: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

/* Field and view group content */
.field-group-container, .view-group-container {
	border: 2px solid #0875CA;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 15px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.field-group-container {
	background-color: #ABBFCF;
	width: 412px;
}

/* View group content */
.view-group-container {
	background-color: #FFFFFF;
/*	width: 900px; */
/* 	overflow: hidden;	 */
}

/* View group TableView */
.google-visualization-table.content > .top-level {
/* 	margin-right: 100px; */
max-width: 80%;
}


/* Super group */
.nav-tabs.super-group {
}
.super-group {
/* 	overflow: auto; */
}

[smo-super-group-set] {
	margin-top: 20px;
}

/* .view-group-container .nav-stacked div { */
/* 	overflow: hidden; */
/* 	text-overflow: ellipsis; */
/* } */

[smo-super-group-set] > .nav-tabs, #FluidPointTabs.nav-tabs {
	/* Put a line under the nav tabs */
	border-bottom: 2px solid #0875CA;
}

[smo-super-group-set] > .nav-tabs > li, #FluidPointTabs.nav-tabs > li {
	/* Hide the line under the active tab */
	margin-bottom: -2px;
}


/* Tabs */
[smo-super-group-set] > .nav-tabs > li > a, 
[smo-super-group-set] > .nav-tabs > li.active > a, 
[smo-super-group-set] > .nav-tabs > li.active > a:hover, 
[smo-super-group-set] > .nav-tabs > li.active > a:focus {
	cursor: pointer;
	font-size: medium;
	color: black;
}

/* Inactive tabs */
[smo-super-group-set] > .nav-tabs > li > a {
	border: none;
}

[smo-super-group-set] > li > a, #FluidPointTabs.nav-tabs > li > a:hover, #FluidPointTabs.nav-tabs > li > a:focus {
	cursor: pointer;
}

/* Active tab */
/* Overriding bootstrap border-style */
.nav-tabs > li.active > a:hover {
	border-style: none;
}

[smo-super-group-set] > .nav-tabs > li.active > a, #FluidPointTabs.nav-tabs > li.active > a {
	border-left: 2px solid #0875CA;
	border-top: 2px solid #0875CA;
	border-right: 2px solid #0875CA;
}

/* Field */
[smo-quantity], [smo-quantity], [smo-choice], [smo-string] {
	margin-top: 5px; 
	margin-bottom: 5px; 
	white-space: nowrap;
}

.field-label {
	display: inline-block;
	white-space: nowrap;
	text-align: left;
	width: 170px;
	height: 30px;
	vertical-align: bottom;
	line-height: 25px;
	cursor: pointer;
}

.multiline-label {
	display: inline-block;
	white-space: nowrap;
	text-align: left;
	width: 170px;
	height: 30px;
	vertical-align: top;
}

.field-input, .field-output, .bool-input {
	display: inline-block; 
	white-space: nowrap;
	margin-left: 5px; 
	margin-right: 5px;
}

.field-input, .field-output {
	vertical-align: bottom;
}

.bool-input {
	vertical-align: top;
}

.field-input input {
	width: 120px; 
	height: 30px;
}

.field-output .output {
	width : 120px; 
	height: 30px; 
	background-color: #FFF; 
	border: 1px solid #AAA; 
	padding: 1px;
}

.field-output .multiline-output {
	width : 120px;
	white-space: pre-wrap;	
	background-color: #FFF; 
	border: 1px solid #AAA; 
	padding: 1px;
}

.field-select {
	display: inline-block;
	white-space: nowrap;
	vertical-align: bottom;
}

.field-select.choice > select {
	width: 209px; 
	height: 30px; 
	margin-left: 5px;
}

.field-select.quantity > select {
	width: 80px; 
	height: 30px;
}

.input-validity-error {
	margin-left: 180px; 
	color:red;
}

/* Fluid point tabs */
/* Active tab */
#FluidPointTabs.nav-tabs > li.active > a, #FluidPointTabs.nav-tabs > li.active > a:hover, #FluidPointTabs.nav-tabs > li.active > a:focus {
	cursor: pointer;
	font-size: medium;
	color: black;
}

/* Inactive tabs */
#FluidPointTabs.nav-tabs > li > a, #FluidPointTabs.nav-tabs > li > a:hover, #FluidPointTabs.nav-tabs > li > a:focus {
	cursor: pointer;
	font-size: medium;
	color: black;
}

/* Record array */
[smo-record-array] .nice-table {
	margin: auto;
}

/* Record array and TableView editor */
.record-array, .view-edit {
	position: absolute;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	white-space: nowrap;
	z-index: 10000;
	background: rgba(0, 0, 0, 0.8);
	padding-left: 200px;
	padding-top: 100px;
	overflow: scroll;
}

.record-array > div {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.record-array > div > table {
	border: 5px solid white;
}

/* Internet Explorer specific styles */
.no-rgba .record-array, .no-rgba .view-edit {
	background: black;
}

/* Unit Converter specific styles */
.converter {
	margin-top: 40px;
	background-color: #E6E6FA;
	padding-right: 30px;
	display: inline-block;
	overflow: auto;
	text-align: center;
	border: 3px solid #0875CA;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.converter .choice-group {
	display: inline-block; 
	margin-left: 20px; 
	vertical-align:top;
	margin-top: 20px;
	margin-bottom: 20px;
}

.converter .results-group {
	display: inline-block; 
	margin-left: 60px;  
	vertical-align:top;
	margin-top: 20px;
	margin-bottom: 20px;
	float: right;
}

.converter .select-text {
	text-align: left; 
	font-size: medium;  
	margin-bottom: 5px;
	color: #0875CA;
}

.converter .field-label {
	display: inline-block;
	white-space: nowrap;
	text-align: left;
	width: 50px;
	height: 30px;
	color: #0875CA;
}

.converter .field-input {
	display: inline-block; 
	white-space: nowrap;
	margin-left: 5px; 
}
a
.converter .field-input input {
	width: 120px; 
	height: 30px;
}

.converter .input-error {
	text-align:left; 
	color: red; 
	margin-left: 5px; 
	margin-bottom: 7px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}