{% extends "SmoWebBase/Base.jinja" %}

{% block scripts_and_styles %}

{#  Load all necessary JS libraries #}
{% for lib in pageView.requiredJSLibraries %}
<script type="text/javascript" src="{{pageView.jsLibraries[lib]}}"></script>
{% endfor %}

{#  Load SmoWeb JS libraries #}
<script src="{{ static('js/SmoUtil.js') }}"></script>

{#  Angular application and controller for the page #}
<script>
{% autoescape false %}
{% if pageView.requiredGoogleModules|length > 0 %}
// Load Google modules
{% for gModuleName in pageView.requiredGoogleModules %}
{% with gModule = pageView.googleModules[gModuleName] %}
google.load('{{gModuleName}}', '{{gModule.version}}', {'packages': {{gModule.packages}}});
{% endwith %}
{% endfor %} 
{% endif %}
{% endautoescape %}

angular.module('{{pageView.__class__.__name__}}', ['smo'])
	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}])
	.config(['$locationProvider', function($locationProvider) {
	 	//Checks for html5 compatibility
	 	if (Modernizr.canvas){
	 		$locationProvider.html5Mode(true).hashPrefix('!');
	 	} else {
	 		$locationProvider.html5Mode(false);
	 	}	 	
	}])
	.controller('{{pageView.controllerName}}', 
		[ '$scope', '$location', 'communicator'
			{% for injectVar in pageView.injectVariables %}
				,'{{injectVar}}'
			{% endfor %},
		function($scope, $location, communicator 
			{% for injectVar in pageView.injectVariables %}
				,{{injectVar}}
			{% endfor %}
		)
		{
		
		$scope.$location = {};
 		angular.forEach("protocol host port path search hash absUrl".split(" "), function(method){
	    	$scope.$location[method] = function(){
		      	var result = $location[method].call($location);
		      	return angular.isObject(result) ? angular.toJson(result) : result;
    		};
  		});
			{% for module in pageView.modules %}
				{% if issubclass(module, smo.model.model.NumericalModel) %}
					$scope.{{module.__name__}} = { name: "{{module.__name__}}", computeAsync: {{module.computeAsync|lower}}, views: {} };
					{% for block in module.modelBlocks %}
						{% if isinstance(block, smo.model.fields.ModelView) %}
							$scope.{{module.__name__}}.views.{{block.name}} = {name: "{{block.name}}", type: "{{block.ioType}}"};
						{% elif isinstance(block, smo.web.blocks.JsBlock) %}
							{% include 'SmoWebBase/blocks/Block.jinja' %}
						{% endif %}
					{% endfor %}
				{% elif issubclass(module, smo.web.modules.HtmlModule) %}
					$scope.{{module.__name__}} = { name: "{{module.__name__}}"};
					{% for block in module.modelBlocks %}
						{% if isinstance(block, smo.web.blocks.JsBlock) %}
							{% include 'SmoWebBase/blocks/Block.jinja' %}
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
	}]);
</script>
{% endblock %}

{% block pills %}
	{% for module in pageView.modules %}
		<li role="presentation" class="{% if pageView|isActive(module) %}active{% endif %}">
			<a id="{{module.__name__}}Pill" data-target="#{{module.__name__}}Content" role="tab" data-toggle="tab">{{module.label}}</a>
		</li>	
	{% endfor %}
{% endblock %}

{% block content %}
<div ng-app="{{pageView.__class__.__name__}}" ng-controller="{{pageView.controllerName}}">
  	<div class="tab-content">
		{% for module in pageView.modules %}
			<div class="tab-pane page-container {% if pageView|isActive(module) %}active{% endif %}" id="{{module.__name__}}Content">
				{% if issubclass(module, smo.model.model.NumericalModel) %}
					{% autoescape false %}
					<h1 class="title">{{module.label}}</h1>
					<div class="presentation">
						{% if hasattr(module, 'figure') %}
							{% if module.figure.show %}
								<div style="height: {{module.figure.height}}px; width: {{module.figure.width}}px;">
									<img src="{{ static(module.figure.src) }}" />
								</div>
							{% endif %}
						{% endif %}
						{% if hasattr(module, 'description') %}
							{% if module.description.show %}
								<div class="description">
									{{module.description.text}}
								</div>
							{% endif %}
						{% endif %}
					</div>
					{% endautoescape %}
					{% for block in module.modelBlocks %}
						<div class="section">			
							{% if isinstance(block, smo.model.fields.ModelView) %}
								<div smo-model-view="{{block.name}}" model-name="{{module.__name__}}" view-type="{{block.ioType}}" auto-fetch="{{block.autoFetch|lower}}" view-record-id="{{pageView.recordIdDict[block]}}"></div>
							{% elif isinstance(block, smo.web.blocks.HtmlBlock) %}
								{% include 'SmoWebBase/blocks/Block.jinja' %}
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
				{% if issubclass(module, smo.web.modules.RestModule) %}
					<div class="tab-pane" id="{{module.__name__}}Content">
						<div class="restview">
							{% include module|getRestModuleUrl(pageView) %}
						</div>
					</div>
				{% endif %}
				{% if issubclass(module, smo.web.modules.HtmlModule) %}
					{% for block in module.modelBlocks %}
						{% if isinstance(block, smo.web.blocks.HtmlBlock) %}
							{% include 'SmoWebBase/blocks/Block.jinja' %}
						{% endif %}	
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
