{% extends "SmoWebBase/Base.html" %}
{% load staticfiles %}
{% load SmoCustomFilters %}

{% block scripts_and_styles %}

{% comment %}  Load all necessary JS libraries {% endcomment %}
{% for lib in pageView.requiredJSLibraries %}
<script type="text/javascript" src="{{pageView.jsLibraries|getItem:lib}}"></script>
{% endfor %}

{% comment %}  Load SmoWeb JS libraries {% endcomment %}
<script src="{% static 'SmoUtil.js' %}"></script>

{% comment %}  Angular application and controller for the page {% endcomment %}
<script>
{% autoescape off %}
{% if pageView.requiredGoogleModules|length > 0 %}
// Load Google modules
{% for gModuleName in pageView.requiredGoogleModules %}
{% with pageView.googleModules|getItem:gModuleName as gModule %}
google.load('{{gModuleName}}', '{{gModule.version}}', {'packages': {{gModule.packages}}});
{% endwith %}
{% endfor %} 
{% endif %}
{% endautoescape %}

angular.module('{{pageView.name}}', ['ui.bootstrap', 'smo'])
	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}])
	.config(['$locationProvider', function($locationProvider) {
	 	if (Modernizr.canvas){
	 		$locationProvider.html5Mode(true).hashPrefix('!');
	 	} else {
	 		$locationProvider.html5Mode(false);
	 	}
	}])
	.controller('{{pageView.controllerName}}', 
		[ '$scope', '$location', function($scope, $location) {
		$scope.$location = {};
 		angular.forEach("protocol host port path search hash absUrl".split(" "), function(method){
	    	$scope.$location[method] = function(){
		      	var result = $location[method].call($location);
		      	return angular.isObject(result) ? angular.toJson(result) : result;
    		};
  		});

			{% for module in pageView.modules %}
				{% if module|isNumericalModel %}
			$scope.{{module.name}} = { name: "{{module.name}}", views: {} };
					{% for block in module.modelBlocks %}
						{% if block|isModelView%}
							$scope.{{module.name}}.views.{{block.name}} = {name: "{{block.name}}", type: "{{block.ioType}}"};
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
	}]);
</script>
{% endblock %}

{% block pills %}
	{% for module in pageView.modules %}
		<li role="presentation" class="{% if pageView|isActive:module %}active{% endif %}">
			<a id="{{module.name}}Pill" data-target="#{{module.name}}Content" role="tab" data-toggle="tab">{{module.label}}</a>
		</li>	
	{% endfor %}
{% endblock %}

{% block content %}
<div ng-app="{{pageView.name}}" ng-controller="{{pageView.controllerName}}">
  	<div class="tab-content">
		{% for module in pageView.modules %}
			<div class="tab-pane page-container {% if pageView|isActive:module %}active{% endif %}" id="{{module.name}}Content">
				{% if module|isNumericalModel %}
					<h1 class="title">{{module.title}}</h1>
					{% for block in module.modelBlocks %}
						<div class="section">			
							{% if block|isModelView %}
								<div smo-model-view="{{block.name}}" model-name="{{module.name}}" view-type="{{block.ioType}}" auto-fetch="{{block.autoFetch|lower}}" view-record-id="{{pageView.recordIdDict|getItem:block}}"></div>
							{% elif block|isHtmlBlock %}
								{% include 'SmoWebBase/subtemplates/HtmlBlock.html' %}
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
				{% if module|isModelDocumentation %}
					<div class="tab-pane" id="{{module.name}}Content">
						<div class="docview">
							{% include module|getModelDocUrl %}
						</div>
					</div>
				{% endif %}
				{% if module|isHtmlModule %}
					{% for block in module.modelBlocks %}
						{% if block|isHtmlBlock %}
							{% include 'SmoWebBase/subtemplates/HtmlBlock.html' %}
						{% endif %}	
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
