{% extends "Platform.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts_and_styles %}
<script src="{% static 'smo-datatable/smo.datatable.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'smo-datatable/smo.datatable.css' %}">
<script src="{% static 'smo-treeview/smo.treeview.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'smo-treeview/smo.treeview.css' %}">

<script>
angular.module('testApp', ['ui.bootstrap', 'smoDataTableModule', 'angularTreeview'])
	.controller('testController', [ '$scope', '$http', '$window', function($scope, $http, $window) {

	}]);
</script>
{% endblock %}

{% block content %}
<div ng-app="testApp" ng-controller="testController">
<div class="container">
	<div class="row">
		<div class="col-md-2" style="text-align: right; font-weight: bold; font-size: medium;">
			Eplore HDF file:
		</div>
		<div class="col-md-10">
			<smo-hdf-browser tree-id="hdfView"></smo-hdf-browser>
		</div>
	</div>
	<br>
	<smo-data-table ng-show="columnTable.columns" table-model="columnTable"></smo-data-table>
</div>
{% endblock %}