{% extends "Base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts_and_styles %}
<link rel="stylesheet" href="{% static 'DataManagement/ImportCSV.css' %}"> 
<script src="{% static 'angular-file-upload.min.js' %}"></script>
<script src="{% static 'SmoUtil.js' %}"></script>
<script src="{% static 'DataManagement/ImportCSV.js' %}"></script>
<script src="{% static 'smo-treeview/smo.treeview.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'smo-treeview/smo.treeview.css' %}">
<style>
.pull-left {
margin-left:20px;}
</style>
{% endblock %}

{% block content %}
<br>


<div class="pull-left" ng-app="csvImportApp" ng-controller="CsvImportController">
	<h1>Import CSV</h1>
	<p>Select a <b>CSV</b> file to import</p>
	<table>				
		<tr>
			<td style=" text-align: right; font-weight: bold;">CSV File &nbsp</td><td style=" text-align: left;"><input ng-file-select="fileSelect($files)" type="file" /></td>
		</tr>
		<tr>
			<td style=" text-align: right; font-weight: bold;">Rows to Display &nbsp</td><td style=" text-align: left;"><input ng-model="numRowsInPreview" name="numRowsInPreview" type="number" value="10" /></td>
		</tr>
		<tr><td><br/></td></tr>
		<tr>
			<td></td>
			<td>
				<button  ng-click="sendFile()" >Upload</button>
			</td>
		</tr>
<!-- 	  	<tr> -->
<!-- 			<td></td>	 -->
<!-- 		</tr>  -->
<!-- 		<tr> -->
<!-- 			<td> -->
<!-- {% verbatim %}			 -->
<!-- 				<div class="progress"> -->
<!-- 					<div style="width:{{ progress }}%" ng-bind="progress"></div> -->
<!-- 				</div> -->
<!-- {% endverbatim %} -->
<!-- 			</td> -->
<!-- 			<td> -->
<!-- 				<button ng-click="upload.abort()">Cancel Upload</button> -->
<!-- 			</td>			 -->
<!-- 		</tr> -->
	</table>

	<br>
	
	<div ng-if="showPreviewTable">
		<p>The file contains <span ng-bind="csvPreviewData.numRows"></span> rows<p>
		<table class="dataTable"> 
			<tr>
				<td class="row-label"><span style="color: #7F7F7F; font-size: large;" class="glyphicon glyphicon-question-sign" data-toggle="popover"  
				title="	- Select column names by double-clicking on a row header (leftmost cell with row number)
	- Column names can also be edited directly 
	- Select a storage type for the column
	- Select columns to import using the checkboxes at the top
	- Select the first data row with a single mouse-click 
	- Submit!"></span> Use column</td>
				<td ng-repeat="column in columnProps" class = "column-label">
					<input type = "checkbox" ng-model="column.use"></input> 
				</td>
			</tr>
			<tr>
				<td class="row-label">Column type</td>
				<td ng-repeat="column in columnProps" class = "column-label">
					<select ng-model = "column.dataType" ng-options = "typeName for typeName in columnTypeChoices"></select> 
				</td>
			</tr>
			<tr>
				<td class="row-label">Column name</td>
				<td ng-repeat="column in columnProps">
					<input ng-model="column.name" class = "column-label tableInput"></input>
				</td>
			</tr>
			<tr ng-repeat = "row in csvPreviewData.tableValues track by $index" ng-init = "rowIndex = $index + 1">
				<td class="row-label" ng-dblclick="onRowHeaderDblClick(rowIndex)" smo-single-click = "onRowHeaderClick(rowIndex)"><div ng-bind="rowIndex" class="noselect"></div></td>
				<td ng-repeat = "cellValue in row track by $index" ng-init = "colIndex = $index + 1">
					<div class="output" ng-bind="cellValue" ng-style="cellStyle(rowIndex, colIndex)"></div>
				</td>
			</tr>
		</table>			
		<br>
		HDF dataset name:<input ng-model="datasetProps.name"></input> 		
		<br>
		Selected dataset name:<div ng-bind="datasetProps.name"></div>
		<br>
		Select HDF group:
		<br>
		<br>
		<smo-hdf-browser tree-id="hdfView">	
		</smo-hdf-browser>		
		<br>
		<button ng-click="importDataset(hdfView.currentNode.path)">Submit</button>
		</div>

	</div>	
</div>
{% endblock %}