{% extends "Platform.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts_and_styles %}
<!-- <script src="{% static 'angular-treeview/angular.treeview.js' %}"></script> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'angular-treeview/css/angular.treeview.css' %}"> -->
<script src="{% static 'smo-treeview/smo.treeview.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'smo-treeview/smo.treeview.css' %}">

<script>
angular.module('testApp', ['ui.bootstrap', 'angularTreeview'])	
	.controller('testController', [ '$scope', '$http', '$window', function($scope, $http, $window) {

	}]);
	
</script>
{% endblock %}

{% block content %}
<br>
<h1>Test page</h1>
<div ng-app="testApp" ng-controller="testController">

<smo-hdf-browser></smo-hdf-browser>

</div>
{% endblock %}