{% extends "Base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts_and_styles %}
<script src="{% static 'smo-datatable/smo.datatable-test.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'smo-datatable/smo.datatable.css' %}">
<script src="{% static 'smo-treeview/smo.treeview-test.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'smo-treeview/smo.treeview.css' %}">
<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<!-- <script src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1","packages":["corechart","table", "controls"]}]}'></script> -->
<script type="text/javascript" src="http://dygraphs.com/dygraph-dev.js"></script>
<script src="{% static 'smo-datatable/tablequerywrapper.js' %}"></script>


<script>
	google.load('visualization', '1.0', {'packages':["corechart", "table", "controls"]}); 
	angular.module('testApp', ['ui.bootstrap', 'smoDataTableModule', 'angularTreeview'])
	.controller('testController', [ '$scope', '$http', '$window', function($scope, $http, $window) {
		$scope.tableLoaded = false;
		
		$scope.initTable = function(){
			$scope.allChecked = true;
			$scope.columnsShow = [];
			$scope.tableArray = [];
			var columnNames = [];
			for (i=0; i<$scope.columnTable.columns.length; i++){
				columnNames.push($scope.columnTable.columns[i].name);
				$scope.columnsShow[i] = true;
			}
			$scope.tableArray.push(columnNames);
			for (i=0; i<$scope.columnTable.data.length; i++){
				$scope.tableArray.push($scope.columnTable.data[i]);
			}
			$scope.data = google.visualization.arrayToDataTable($scope.tableArray);
			var formatter = new google.visualization.NumberFormat({pattern: '###.###'});
			for (i=0; i<$scope.columnTable.columns.length; i++){
				formatter.format($scope.data, i);
			}
			$scope.view = new google.visualization.DataView($scope.data);
		}
		
		$scope.setView = function (){
			var viewCloumns = [];
			for (i=0; i<$scope.columnsShow.length; i++){
				if ($scope.columnsShow[i] == true){
					viewCloumns.push(i);
				}
			}
			$scope.view.setColumns(viewCloumns);
		}
		
		$scope.setToAll = function(){
			for (i=0; i<$scope.columnsShow.length; i++){
				$scope.columnsShow[i] = $scope.allChecked;
			}
			$scope.setView();
		}
		
		$scope.update = function(){
			$scope.allChecked = false;
			$scope.setView();
		}
		
		$scope.drawTable = function (){						
			var table = new google.visualization.Table(document.getElementById('table_div'));
			table.draw($scope.data, {showRowNumber: true, sort:'disable', page:'enable', pageSize:20});			
			
			$scope.showTable = !$scope.showTable;
			if ($scope.tableBtnText == "Show table"){
				$scope.tableBtnText ="Hide table";
			} else {
				$scope.tableBtnText = "Show table";
			}
		}
		
		$scope.drawView = function (){
			var tableView = new google.visualization.Table(document.getElementById('view_div'));
			tableView.draw($scope.view, {showRowNumber: true, sort:'disable', page:'enable', pageSize:20});
			
			$scope.showView = !$scope.showView;
			if ($scope.viewBtnText == "Show view"){
				$scope.viewBtnText ="Hide view";
			} else {
				$scope.viewBtnText = "Show view";
			}
		}
		
		$scope.plotData = function(){
			var chart1 = new Dygraph.GVizChart(
			document.getElementById('dygraphs')).draw($scope.view, {
				labelsDiv: 'dylegend',
				labelsDivWidth: 150,
				labelsSeparateLines: true,
				width: 900,
				height: 500
			});
			
			$scope.showPlot = !$scope.showPlot;
			if ($scope.plotBtnText == "Show plot"){
				$scope.plotBtnText ="Hide plot";
			} else {
				$scope.plotBtnText = "Show plot";
			}
		}
	}]);
</script>
{% endblock %}

{% block content %}
<div ng-app="testApp" ng-controller="testController">
	<div class="container">
		<div class="row">
			<div class="col-md-2" style="text-align: left; font-weight: bold; font-size: medium;">
				Explore data file:
			</div>
			<div class="col-md-10">
				<smo-hdf-browser tree-id="hdfView"></smo-hdf-browser>
			</div>
		</div>
		<br>
		<div class="row">
			<div ng-show="tableLoaded" class="col-md-6" style="text-align: left; font-size: medium;">
				<span><button class="button class="btn btn-default btn-sm" ng-click="plotData()" ng-bind="plotBtnText">
				</button></span>
				<span><button class="button class="btn btn-default btn-sm" ng-click="drawTable()" ng-bind="tableBtnText">
				</button></span>
				<span><button class="button class="btn btn-default btn-sm" ng-click="drawView()" ng-bind="viewBtnText">
				</button></span>
			</div>
			<div class="col-md-6">
			</div>
		</div>
		<div class ="row" ng-show="showTable">
			<div class="col-md-12">
				<div style="display:inline-block;">
					<span>Check all</span>
					<input type="checkbox" ng-model="allChecked" ng-change="setToAll()"></input>
				</div>
				<div style="display:inline-block;" ng-repeat="columnName in tableArray[0] track by $index">
					<span ng-bind="columnName"></span>
					<input type="checkbox" ng-model="columnsShow[$index]" ng-change="update()"></input>
    			</div>
			</div>
		</div>
		<div class="row" ng-show="showTable">
			<div class="col-md-12">
				<div id="table_div"></div>	
			</div>		
		</div>
		<div class="row" ng-show="showView">
			<div class="col-md-12">
				<div ng-show="showView" id="view_div"></div>	
			</div>		
		</div>
		<div class="row" ng-show="showPlot">
			<div class="col-md-10">
	    		<div id="dygraphs"></div>
			</div>
			<div class="col-md-2">
				<div id="dylegend"></div>
			</div>
		</div>
	</div>
</div>



{% endblock %}