{% load staticfiles %}

<h1 class="title">SmoWeb Computational Platform</h1>
<div class="align-center" style="margin-top: 50px;">
	<img width="400px" src="{% static 'ThermoFluids/StateDiagram3D.svg' %}"></img>
	<img width="400px" src="{% static 'ThermoFluids/HeatPump.svg' %}"></img>
</div>
<div style="background: white; padding: 20px;">		
	<p>
		Welcome to <strong>SmoWeb</strong>, the open computational platform from 
		<a class="reference external" href="http://www.sysmoltd.com">SysMo</a>. Here you will find a
		number of one-page apps that could be used to tackle various
		engineering problems. Please select the appropriate page/app from
		the navigation bar on the top.
	</p>
	<p>
		We highly recommend that you use <span style="font-weight: bold;">Mozilla Firefox</span> or
		 <span style="font-weight: bold;">Google Chrome</span> to browse this website.
	</p>
</div>
