{% if block.srcType == 'file' %}
	{% include block|getHtmlBlockUrl(pageView) %}
{% elif block.srcType == 'string' %}
	<div>
	{% autoescape false %}
		{{block.src|generateHtml}}
	{% endautoescape %}
	</div>
{% endif %}