{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="en">
	<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="{% static 'css/Base.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/SmoInputOutputView.css' %}">
    
    <!-- JQuery -->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>      
    <!-- AngularJS -->   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script> 
	<script src="{% static "ui-bootstrap-tpls-0.11.0.min.js" %}"></script>
	
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	
	{% block scripts_and_styles %}
	{% endblock %}	 
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-56887236-1', 'auto');
	  ga('send', 'pageview');
	
	</script>
	</head>
	
	<body>	
	{% csrf_token %}
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
<!--             <span class="sr-only">Toggle navigation</span> -->
<!--             <span class="icon-bar"></span> -->
<!--             <span class="icon-bar"></span> -->
<!--             <span class="icon-bar"></span> -->
          </button>
          <a class="navbar-brand" href="{% url 'Home' %}">SmoWeb</a>
        </div>
      	<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav" >
        		{% block navs %}       		
				    <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown">ThermoFluids<span class="caret"></span></a>
				      <ul class="dropdown-menu" role="menu">
 				        <li><a href="{% url 'ThermoFluids:FluidPropsCalculator' %}">Fluid properties</a></li>
				        <li><a href="{% url 'ThermoFluids:FlowResistance' %}">Flow resistance</a></li>
				        <li><a href="{% url 'ThermoFluids:HeatPump' %}">Heat pump / AC / Refrigerator</a></li>
				        <li><a href="{% url 'ThermoFluids:FreeConvection' %}">Free convection</a></li>
<!-- 				        <li><a href="{% url 'ThermoFluids:HeatExchange1D' %}">Heat exchange (1D configurations)</a></li> -->
<!-- 				        <li><a href="{% url 'ThermoFluids:CryogenicInsulation' %}">Cryogenic insulation</a></li> -->
<!-- 				        <li class="divider"></li> -->
<!-- 				        <li class="dropdown-header">Nav header</li> -->
<!-- 				        <li><a href="{% url 'ThermoFluids:testView' %}">Test View</a></li> -->
				      </ul>
				    </li>
				    
				    <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Management <span class="caret"></span></a>
				      <ul class="dropdown-menu" role="menu">
				        <li><a href="{% url 'DataManagement:ImportCSV' %}">Import CSV</a></li>
				        <li><a href="{% url 'DataManagement:DataExplorer' %}">Data Explorer</a></li>
<!-- 				        <li class="divider"></li> -->
<!-- 				        <li class="dropdown-header">Nav header</li> -->
<!-- 				        <li><a href="{% url 'DataManagement:testView' %}">Test View</a></li> -->
				      </ul>
				    </li>
				    <li><a href="{% url 'UnitConverter' %}">Unit Converter</a></li>      		
        		{% endblock %}
			</ul>
			<div class="logo">
          		<a href="http://www.sysmoltd.com"><img src="{% static 'img/SysMoLogo.png' %}"></a>
        	</div>
		</div><!--/.nav-collapse -->
      </div>
    </div>
    
    <div class="container-fluid" id="content">
		<div class="row">
	        <div class="sidebar">
	          <ul class="nav nav-sidebar">
	            {% block pills %}
	            {% endblock %}
	          </ul>
	          <div style="position: fixed; bottom: 10px;">
	          	<div><a href="http://www.sysmoltd.com/?q=contact">Contact us</a></div>
	          	<div><span class="text-muted">&copy </span><a href="http://www.sysmoltd.com">Sysmo Ltd.</a></div>
	          </div>
	        </div>
			<div style="margin-left: 120px;">
			{% block content %}
				<div class="page-container">
					<h1 class="title">SmoWeb Computational Platform</h1>
					<div class="align-center" style="margin-top: 50px;">
						<img width="400px" src="{% static 'ThermoFluids/StateDiagram3D.svg' %}"></img>
						<img width="400px" src="{% static 'ThermoFluids/HeatPump.svg' %}"></img>
					</div>
					<div style="background: white; padding: 20px;">		
						<p>
							Welcome to <strong>SmoWeb</strong>, the open computational platform from 
							<a class="reference external" href="http://www.sysmoltd.com">SysMo</a>. Here you will find a
							number of one-page apps that could be used to tackle various
							engineering problems. Please select the appropriate page/app from
							the navigation bar on the top.
						</p>
					</div>	
						
<!-- 					<div class="docview"> -->
<!-- 						<div class="document"> -->
<!-- 						</div> -->
<!-- 					</div> -->
				</div>
			{% endblock %}
			</div>
		</div>
	</div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  
    <!-- Link to navbar template -->
	<!--     http://getbootstrap.com/examples/navbar-fixed-top/ -->
	</body>
</html>
