{% load staticfiles %}

<!DOCTYPE HTML>
<html lang="en">
	<head>
	<!-- Bootstrap core CSS -->	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
	   
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/navbar-static-top/navbar-static-top.css" rel="stylesheet">

    <!-- JQuery -->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>  
    
    <!-- AngularJS -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<!--     <script src="/data/Workspace/Django/django-example/SmoWebExtra/js/angular.js"></script> -->
    
	<script src="{% static "ui-bootstrap-tpls-0.11.0.min.js" %}"></script>
	<style>	
		html{
	  		height: 100%;
	  		width: 100%;
	  		
		}
		body {
	  		height: 100%;
	  		width: 100%;
		}
		h1 {
			text-align: center;
		}
	</style>
	{% block scripts_and_styles %}
	{% endblock %}	 
	</head>
	
	<body>	
	{% csrf_token %}
	<div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
<!--             <span class="sr-only">Toggle navigation</span> -->
<!--             <span class="icon-bar"></span> -->
<!--             <span class="icon-bar"></span> -->
<!--             <span class="icon-bar"></span> -->
          </button>
          <a class="navbar-brand" style="font-size: x-large; font-weight: bold; text-align: center;" href="{% url 'home' %}">SmoWeb</a>
        </div>
      	<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav" >
        		{% block navs %}       		
				    <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown">ThermoFluids<span class="caret"></span></a>
				      <ul class="dropdown-menu" role="menu">
 				        <li><a href="{% url 'ThermoFluids:FluidPropsCalculator' %}">Fluid properties calculator</a></li>
				        <li><a href="{% url 'ThermoFluids:FlowResistance' %}">Flow resistance</a></li>
<!-- 				        <li class="divider"></li> -->
<!-- 				        <li class="dropdown-header">Nav header</li> -->
<!-- 				        <li><a href="{% url 'ThermoFluids:testView' %}">Test View</a></li> -->
				      </ul>
				    </li>
				    
				    <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Management <span class="caret"></span></a>
				      <ul class="dropdown-menu" role="menu">
				        <li><a href="{% url 'DataManagement:ImportCSV' %}">Import CSV</a></li>
				        <li><a href="{% url 'DataManagement:DataExplorer' %}">Data Explorer</a></li>
<!-- 				        <li class="divider"></li> -->
<!-- 				        <li class="dropdown-header">Nav header</li> -->
<!-- 				        <li><a href="{% url 'DataManagement:testView' %}">Test View</a></li> -->
				      </ul>
				    </li>       		
        		{% endblock %}
			</ul>
			<div style="text-align: right; padding-top:10px; padding-bottom: 10px;">
          		<img height=30px src="{% static 'img/SysMoLogo.png' %}">
        	</div>
		</div><!--/.nav-collapse -->
      </div>
    </div>
	
	{% block content %}	
	{% endblock %}
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  
    <!-- Link to navbar template -->
	<!--     http://getbootstrap.com/examples/navbar-fixed-top/ -->
	</body>
</html>
