{% extends "Base.html" %}
{% load staticfiles %}
{% load SmoCustomFilters %}

{% block scripts_and_styles %}

{% for lib in jsLibraries %}
<script type="text/javascript" src="{{view.jsLibraries|getItem:lib}}"></script>
{% endfor %}

{% if googleModules|length > 0 %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endif %}

<script src="{% static 'SmoUtil.js' %}"></script>
<script>

// Load Google modules
{% autoescape off %}
{% if googleModules|length > 0 %}
{% for gModuleName, gModuleOptions in googleModules.iteritems %}
google.load('{{gModuleName}}', '{{gModuleOptions.version}}', {'packages': {{gModuleOptions.packages}}});
{% endfor %} 
{% endif %}
{% endautoescape %}

angular.module('{{view.appName}}', ['ui.bootstrap', 'smo'])
	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}])
	.controller('{{view.controllerName}}', 
		[ '$scope', function($scope) {
			{% for module in view.modules %}
				{% if module|isNumericalModel %}
			$scope.{{module.name}} = { name: "{{module.name}}", views: {} };
					{% for block in module.modelBlocks %}
						{% if block|isModelView%}
							$scope.{{module.name}}.views.{{block.name}} = {name: "{{block.name}}", type: "{{block.ioType}}"};
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
	}]);
</script>
{% endblock %}

{% block pills %}
	{% for module in view.modules %}
		<li role="presentation" class="{% if view|isActive:module %}active{% endif %}">
			<a id="{{module.name}}Pill" data-target="#{{module.name}}Content" role="tab" data-toggle="tab">{{module.label}}</a>
		</li>	
	{% endfor %}
{% endblock %}

{% block content %}
<div ng-app="{{view.appName}}" ng-controller="{{view.controllerName}}">
	<div class="tab-content">
		{% for module in view.modules %}
			<div class="tab-pane page-container {% if view|isActive:module %}active{% endif %}" id="{{module.name}}Content">
				{% if module|isNumericalModel %}
					<h1 class="title">{{module.title}}</h1>
					{% for block in module.modelBlocks %}
						<div class="section">			
							{% if block|isModelView %}
								<div smo-model-view="{{block.name}}" model-name="{{module.name}}" view-type="{{block.ioType}}" auto-fetch="{{block.autoFetch|lower}}" record-Id="{{block.id}}"></div>
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
