{% extends "Base.html" %}
{% load staticfiles %}
{% load SmoCustomFilters %}

{% block scripts_and_styles %}

{% for lib in jsLibraries %}
<script type="text/javascript" src="{{view.jsLibraries|getItem:lib}}"></script>
{% endfor %}

{% if googleModules|length > 0 %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
{% endif %}

<script src="{% static 'SmoUtil.js' %}"></script>
<script>

// Load Google modules
{% autoescape off %}
{% if googleModules|length > 0 %}
{% for gModuleName, gModuleOptions in googleModules.iteritems %}
google.load('{{gModuleName}}', '{{gModuleOptions.version}}', {'packages': {{gModuleOptions.packages}}});
{% endfor %} 
{% endif %}
{% endautoescape %}

angular.module('{{view.appName}}', ['ui.bootstrap', 'smo'])
	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}])
	.config(['$locationProvider', function($locationProvider) {
  		$locationProvider.html5Mode(true).hashPrefix('!');
	}])
	.controller('{{view.controllerName}}', 
		[ '$scope', '$location', function($scope, $location) {
		$scope.$location = {};
 		angular.forEach("protocol host port path search hash absUrl".split(" "), function(method){
	    	$scope.$location[method] = function(){
		      	var result = $location[method].call($location);
		      	return angular.isObject(result) ? angular.toJson(result) : result;
    		};
  		});
  		$scope.Result = $location.protocol() + '://' + $location.host() + ':' + $location.port() + $location.path() + '?model=' + 1 + '&view=' + 2 + '&id=' + 3;
			{% for module in view.modules %}
				{% if module|isNumericalModel %}
			$scope.{{module.name}} = { name: "{{module.name}}", views: {} };
					{% for block in module.modelBlocks %}
						{% if block|isModelView%}
							$scope.{{module.name}}.views.{{block.name}} = {name: "{{block.name}}", type: "{{block.ioType}}"};
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endfor %}
	}]);
</script>
{% endblock %}

{% block pills %}
	{% for module in view.modules %}
		<li role="presentation" class="{% if view|isActive:module %}active{% endif %}">
			<a id="{{module.name}}Pill" data-target="#{{module.name}}Content" role="tab" data-toggle="tab">{{module.label}}</a>
		</li>	
	{% endfor %}
{% endblock %}

{% block content %}
<div ng-app="{{view.appName}}" ng-controller="{{view.controllerName}}">
  <div>
    $location.protocol() = <span ng-bind="$location.protocol()"></span> <br>
    $location.host() = <span ng-bind="$location.host()"></span> <br>
    $location.port() = <span ng-bind="$location.port()"></span> <br>
    $location.path() = <span ng-bind="$location.path()"></span> <br>
    $location.search() = <span ng-bind="$location.search()"></span> <br>
    $location.hash() = <span ng-bind="$location.hash()"></span> <br>
    $location.absUrl() = <span ng-bind="$location.absUrl()"></span> <br>
    Result = <span ng-bind="Result"></span> <br>
  </div>
  	<div class="tab-content">
		{% for module in view.modules %}
			<div class="tab-pane page-container {% if view|isActive:module %}active{% endif %}" id="{{module.name}}Content">
				{% if module|isNumericalModel %}
					<h1 class="title">{{module.title}}</h1>
					{% for block in module.modelBlocks %}
						<div class="section">			
							{% if block|isModelView %}
								<div smo-model-view="{{block.name}}" model-name="{{module.name}}" view-type="{{block.ioType}}" auto-fetch="{{block.autoFetch|lower}}" record-Id="{{block.id}}"></div>
							{% endif %}
						</div>
					{% endfor %}
				{% endif %}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
