{% extends "Base.html" %}

{% block navs %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">SmoFluidProps <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'SmoFluidProps:FluidProps_SetUp' %}">SetUp</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Nav header</li>
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li>
    
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data Management <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li><a href="{% url 'DataManagement:ImportCSV' %}">Import CSV</a></li>
        <li><a href="{% url 'DataManagement:HdfInterfaceView' %}">Data Explorer</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="dropdown-header">Nav header</li>
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
      </ul>
    </li>
{% endblock %}
