{% extends "Base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts_and_styles %}
<script src="{% static 'SmoUtil.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/SmoInputOutputView.css' %}">
<script>
angular.module('SmoConvert', ['ui.bootstrap', 'smo'])
	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}])
	.controller('SmoConvertController', [ '$scope', function($scope) {

	$scope.input = {autoFetch: true, dataUrl: '/ThermoFluids/TestView/', action: 'getInputs'};
// 	$scope.outputs = [{ dataUrl: '/ThermoFluids/TestView/', action: 'compute'}];
	
// 	$scope.compute = function(index) {
// 		$scope.outputs[index].fetchData($scope.inputs[index].data.values);
// 	}
	
	$scope.convert = function() {
		$scope.input.autoFetch = false;
	}
}])
</script>
{% endblock %}

{% block pills %}
{% endblock %}

{% block content %}
<div ng-app="SmoConvert" ng-controller="SmoConvertController">
	<h1 class="title">Unit converter</h1>
		<div converter-input-view="input"></div>
</div>
{% endblock %}