<div class="document" id="flow-resistance">
<h1 class="title">Flow resistance</h1>
<div class="math">
\begin{equation*}
\zeta =  8\left[\left(\frac{8}{Re}\right)^{12}+\frac{1}{\left(\Theta_{1}+\Theta_{2}\right)^{1.5}}\right]^{\frac{1}{12}}
\end{equation*}
</div>
<div class="math">
\begin{equation*}
\Theta_{1}  =  \left[2.457\cdot\ln\left(\left(\frac{7}{Re}\right)^{0.9}+0.27\frac{\varepsilon}{d}\right)\right]^{16}
\end{equation*}
</div>
<div class="math">
\begin{equation*}
\Theta_{2}  =  \left(\frac{37530}{Re}\right)^{16}
\end{equation*}
</div>
</div>
