<h1 class="title">SmoWeb</h1>
<div class="subtitle">The open computational platform by <a href="/SmoWebBase/Sysmo" target="_self">SysMo</a></div>
<div style="margin-top: 30px; margin-bottom: 30px; text-align: center;">
{% for routerName, router in pageView.router.registry.iteritems() %}
	{% for pageName, pageClass in router.pages.iteritems() %}
		{% for module in pageClass.modules %}
			{% if issubclass(module, smo.model.model.NumericalModel) %}
				{% if module.showOnHome %}
					<a href="/{{routerName}}/{{pageClass.name}}?model={{module.name}}"
							 target="_self">
						<div class="thumb">
							<div style="display: table-cell; vertical-align:middle; 
									height: 115px; width: 160px; margin-top: 10px;">
								<img {% if hasattr(module, 'description') %} 
										data-tooltip="{{module.description.text}}" 
									{% endif %} 
									{% if hasattr(module, 'figure') %}
										src="{{ static(module.figure.src.replace('img', 'img/thumbnails').replace('.svg', '_thumb.png')) }}"
									{% else %}
										style="opacity: 0.5; filter: alpha(opacity=50);"
										src="{{ static('img/thumbnails/Calculator_thumb.png') }}"
									{% endif %}
								/>
							</div>
							<div style="display:inline-block; width: 150px; color: black;">
								{{module.label}}
							</div>
						</div>
					</a>
				{% endif %}	
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endfor %}
</div>
<div style="background: white; padding: 20px; border-radius: 10px;">		
	<p>
		Welcome to our computational platform. Here you will find a
		number of one-page apps that could be used to tackle various
		engineering problems. Please select the appropriate page/app from
		the navigation bar on the top or choose one from the thumbnails above.
	</p>
	<p>
		We highly recommend that you use <span style="font-weight: bold;">Mozilla Firefox</span> or
		 <span style="font-weight: bold;">Google Chrome</span> to browse this website.
	</p>
</div>
