<h1 class="title">SmoWeb Computational Platform</h1>
<div style="margin-top: 30px; margin-bottom: 30px; text-align: center;">
{% for routerName, router in pageView.router.registry.iteritems() %}
	{% for pageName, pageClass in router.pages.iteritems() %}
		{% for module in pageClass.modules %}
			{% if issubclass(module, smo.model.model.NumericalModel) %}
				{% if module.showOnHome %}
					<div class="thumb">
						<div style="display: table-cell; vertical-align:middle; height: 150px; width: 180px;">
							<a href="/{{routerName}}/{{pageClass.name}}?model={{module.name}}"
							 target="_self">
								<img {% if hasattr(module, 'description') %} 
										data-tooltip="{{module.description.text}}" 
									{% endif %} 
									{% if hasattr(module, 'figure') %}
										src="{{ static(module.figure.src.replace('img', 'img/thumbnails').replace('.svg', '_thumb.png')) }}"
									{% else %}
										style="opacity: 0.5; filter: alpha(opacity=50);"
										src="{{ static('img/thumbnails/SysMoLogo_thumb.png') }}"
									{% endif %}
								/>
							</a>
						</div>
						<div>
							{{module.label}}
						</div>
					</div>
				{% endif %}	
			{% endif %}
		{% endfor %}
	{% endfor %}
{% endfor %}
</div>
<div style="background: white; padding: 20px;">		
	<p>
		Welcome to <strong>SmoWeb</strong>, the open computational platform from 
		<a class="reference external" href="http://www.sysmoltd.com">SysMo</a>. Here you will find a
		number of one-page apps that could be used to tackle various
		engineering problems. Please select the appropriate page/app from
		the navigation bar on the top.
	</p>
	<p>
		We highly recommend that you use <span style="font-weight: bold;">Mozilla Firefox</span> or
		 <span style="font-weight: bold;">Google Chrome</span> to browse this website.
	</p>
</div>
