<h1 class="title">Unit Converter</h1>
<div ng-if="UnitConverter.communicator.loading" class="alert alert-info" role="alert">Loading...</div>
<div ng-if="UnitConverter.communicator.commError" class="alert alert-danger" role="alert">Communication error: <span ng-bind="UnitConverter.communicator.errorMsg"></span></div>
<div ng-if="UnitConverter.communicator.serverError" class="alert alert-danger" role="alert">Server error: <span ng-bind="UnitConverter.communicator.errorMsg"></span>
	<div>Stack trace:</div><pre><div ng-bind="UnitConverter.communicator.stackTrace"></div></pre>
</div>

<div ng-if="UnitConverter.communicator.dataReceived" style="text-align: center;">
	<div class="converter">
		<div class="choice-group">
			<div class="select-text">Select a quantity:</div>
			<div>
				<select ng-model="choiceVar" ng-options="value as name for (name, value) in quantities"></select>
			</div>
		</div>
		<div class="results-group">
			<div class="field" ng-repeat="unit in choiceVar.unitsArr track by $index">
{% raw %}
				<div ng-form name="Form{{$index}}" class="field-input">
					<input name="input" type="text" ng-model="unit[2]" ng-pattern="/^[-+]?[0-9]*\.?[0-9]+([eE][-+]?[0-9]+)?$/" ng-change="choiceVar.updateValues($index, Form{{$index}}.input.$error.pattern)">
				</div>
				<div class="field-label" ng-bind="unit[0]"></div>
				<div class="input-error" ng-show="Form{{$index}}.input.$error.pattern">Enter a valid number</div>
{% endraw %}
			</div>
		</div>
	</div>
</div>