{% extends "Base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts_and_styles %}
<script src="{% static 'SmoUtil.js' %}"></script>
<script type="text/javascript" src="http://dygraphs.com/dygraph-dev.js"></script>
<script type="text/javascript" src="http://cavorite.com/labs/js/dygraphs-export/dygraph-extra.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
angular.module('ExampleApp', ['ui.bootstrap', 'smo'])
	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}])
	.controller('ExampleController', [ '$scope', '$http', 'ModelCommunicator', function($scope, $http, ModelCommunicator) {
		$scope.exampleModel = {
				inputCommunicator: new ModelCommunicator(),
				resultsCommunicator: new ModelCommunicator(),
				compute: function() {
					$scope.exampleModel.resultsCommunicator.fetchData(
						'computeCryogenicPipe', $scope.exampleModel.inputCommunicator.data.values);
				}
			};
			
			$scope.exampleModel.inputCommunicator.fetchData(
				'getInputs', {}, function(comm){
// 					$scope.arrayGroup = comm.data.definitions[0].groups[0];
// 					$scope.dataValues = comm.data.values;
				});
}])
</script>
{% endblock %}

{% block pills %}
	<li class="active" role="presentation"><a id="exampleTab" data-target="#example" role="tab" data-toggle="tab">Example</a></li>
{% endblock %}

{% block content %}
<div ng-app="ExampleApp" ng-controller="ExampleController">
		<div class="page-container">		
			<h1 class="title">Example calculator</h1>
{% verbatim %}
				<div class="section">
					<div smo-model-view="exampleModelInputs" view-type="input" communicator="exampleModel.inputCommunicator"></div> 
				</div>
				<div class="section"> 		
					<button ng-disabled="!exampleModel.inputCommunicator.fieldsValid" 
						 class="btn btn-primary" ng-click="exampleModel.compute()">Compute</button>
				</div>
				<div class="section"> 
					<div smo-model-view="exampleModelResults" view-type="output" communicator="exampleModel.resultsCommunicator"></div>
				</div>
{% endverbatim %}
		</div>
</div>
{% endblock %}