{% extends "Base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts_and_styles %}
<script src="{% static 'SmoUtil.js' %}"></script>

<script>
angular.module('FlowResistance', ['ui.bootstrap', 'smo'])
	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	    
	}])
	.controller('FlowResistanceController', 
		[ '$scope', '$http', '$window', 'util', 'units', 'materials', 
		function($scope, $http, $window, util, units, materials) {
			
		$scope.units = units;
		$scope.materials = materials;
		$scope.util = util;
 		$scope.inputs = { autoFetch : true, dataUrl: '/ThermoFluids/FlowResistance/', action: 'getInputs', 
 				data: {values: {}} };
 		$scope.outputs = { dataUrl: '/ThermoFluids/FlowResistance/', action: 'compute', 
 				parameters: $scope.inputs.data.values };
		
		$scope.dumpObj = function(obj) {
			return angular.toJson(obj, true);
		}
	}]);
</script>
{% endblock %}

{% block content %}
<div ng-app="FlowResistance" ng-controller="FlowResistanceController">
	<div class="container">
	<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">

		<h1>Pressure losses in Pipe flow</h1>
		<div style="position:relative; width:250mm;height:50mm">
				<object data="{% static 'ThermoFluids/StraightPipe.svg' %}" type="image/svg+xml"></object>
		</div>
		<div smo-input-view="inputs"></div>
		<br>
		<div ng-show="inputs.inputsObtained"><button class="btn btn-default" ng-click="outputs.fetchData()">Compute</button></div>
		<div smo-output-view="outputs"></div>
	
	</div>
	<div class="col-md-1"></div>
	</div>
	</div>
</div>

{% endblock %}

