{% extends "Base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts_and_styles %}
<script src="{% static 'SmoUtil.js' %}"></script>

<script>
angular.module('FlowResistance', ['ui.bootstrap', 'smo'])
	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}])
	.controller('FlowResistanceController', 
		[ '$scope', function($scope) {
 		$scope.inputs = { autoFetch : true, dataUrl: '/ThermoFluids/FlowResistance/', action: 'getInputs'};
 		$scope.outputs = { dataUrl: '/ThermoFluids/FlowResistance/', action: 'compute'};
		$scope.compute = function() {
			$scope.outputs.fetchData($scope.inputs.data.values);
		}
		
	}]);
</script>
{% endblock %}

{% block content %}
<div ng-app="FlowResistance" ng-controller="FlowResistanceController" style="display: inline-block; width:85%; padding-top:20px;">

		<h1>Pressure losses in pipe flow</h1>
		<div style="text-align: center; position:relative; height:50mm">
				<object data="{% static 'ThermoFluids/StraightPipe.svg' %}" type="image/svg+xml"></object>
		</div>		
		<div ng-form name="myForm">
			<div smo-input-view="inputs"></div>
		</div>
		
		<br>
		<div ng-show="inputs.inputsObtained"><button ng-disabled="!myForm.$valid" class="btn btn-default" ng-click="compute()">Compute</button></div>
		
		<br>
		<div smo-output-view="outputs"></div>
</div>

{% endblock %}

