{% extends "Base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts_and_styles %}
<script src="{% static 'SmoUtil.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/SmoInputOutputView.css' %}">
<script>
angular.module('FluidPropsCalculator', ['ui.bootstrap', 'smo'])
	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}])
	.controller('FluidPropsController', [ '$scope', '$http', function($scope, $http) {

		$scope.inputs = [{autoFetch: true, dataUrl: '/ThermoFluids/FluidPropsCalculator/', action: 'getInputs'}];
		$scope.outputs = [{ dataUrl: '/ThermoFluids/FluidPropsCalculator/', action: 'compute'}];
		
		$scope.compute = function(index) {
			$scope.outputs[index].fetchData($scope.inputs[index].data.values);
		}
		
		$scope.createNewTab = function() {
			var newObject = jQuery.extend(true, {}, $scope.inputs[$scope.inputs.length-1]);
			$scope.inputs.push(newObject);
			$scope.inputs[$scope.inputs.length-1].autoFetch = false;
			$scope.outputs.push({ dataUrl: '/ThermoFluids/FluidPropsCalculator/', action: 'compute'});
			$('#FP' + String($scope.inputs.length-1) + 'Tab').tab('show');
		}
		
		$scope.getTabClass = function(index) {		
			if (index == ($scope.inputs.length-1)) {
				return 'ng-scope active';
			} else {
				return 'ng-scope';
			}
		}
	
		$scope.delLastTab = function() {
			if ($scope.inputs.length == 1){
				return;
			}
			$scope.inputs.pop();
			$scope.outputs.pop();
			$('#FP' + String($scope.inputs.length) + 'Tab').tab('show');
		}
		
		$scope.fetchFluidInfo = function() {
			$scope.fluids = {};
			$scope.fluids.obtained = false;
			$scope.fluids.loading = true;
			$scope.fluids.errorLoading = false;
			$http({
		        method  : 'POST',
		        url     : '/ThermoFluids/FluidPropsCalculator/',
		        data    : {action : 'getFluidInfo', parameters: {}},
		        headers : { 'Content-Type': 'application/x-www-form-urlencoded' }, // set the headers so angular passing info as form data (not request payload)
		    })
		    .success(function(data) {
		    	$scope.fluids.loading = false;
		    	$scope.fluids.obtained = true;
// 		    	for (item in data){
// 		    		$scope.fluids[item] = data[item];
// 		    	}
				$scope.fluidList = data;
		    	$scope.selectedFluid = data[0];
		    	console.log($scope.selectedFluid.references);
		    })
		    .error(function(data) {
		    	$scope.fluids.loading = false;
		    	$scope.fluids.errorLoading = true;
		    });
		}
		$scope.fetchFluidInfo();
}])
</script>
{% endblock %}


{% block pills %}
	<li class="active" role="presentation"><a id="calcTab" data-target="#calculator" role="tab" data-toggle="tab">Calculator</a></li>
	<li role="presentation"> <a id="docTab" data-target="#doc" role="tab" data-toggle="tab">Doc</a></li>
	<li role="presentation"> <a id="fluidsTab" data-target="#fluids" role="tab" data-toggle="tab">Fluid info</a></li>
{% endblock %}

{% block content %}
<div ng-app="FluidPropsCalculator" ng-controller="FluidPropsController">
	<div class="tab-content">
		<div class="tab-pane active" id="calculator">		
			<h1 class="title">Fluid properties calculator</h1>
			<div class="title-figure">
				<img src="{% static 'ThermoFluids/StateDiagram3D.svg' %}" type="image/svg+xml"></object>
			</div>		
{% verbatim %}	
			<ul class="nav nav-tabs" role="tablist" id="FluidPointTabs">
		  		<li ng-repeat="input in inputs track by $index" ng-class="getTabClass($index)">
			  		<a ng-attr-id="FP{{$index + 1}}Tab" data-target="#FluidPoint{{$index + 1}}" role="tab" data-toggle="tab" >Fluid point {{$index + 1}}</a>			  		
		  		</li>
			  	<li><a data-target="" id="FluidPointNew" ng-click="createNewTab()">+</a></li>
			  	<li><a data-target="" ng-click="delLastTab()">-</a></li>			  	
			</ul>		
			<div class="tab-content">
				<div ng-repeat="input in inputs track by $index" ng-class="'tab-pane '+ getTabClass($index)" id="FluidPoint{{$index + 1}}">
					<br>
					<div ng-form name="myForm{{$index + 1}}">
						<div smo-input-view="inputs[$index]"></div>
					</div>					
					<div ng-show="inputs[$index].inputsObtained"><button ng-disabled="!myForm{{$index + 1}}.$valid" class="btn btn-default" ng-click="compute($index)">Compute</button></div>
					<div smo-output-view="outputs[$index]"></div>
				</div>
			</div>
{% endverbatim %}
		</div>
		<div class="tab-pane" id="doc">
			<div class="docview">
				{% include 'documentation/html/FluidPropsCalculator.html' %}
			</div>
		</div>
		<div class="tab-pane" id="fluids">
{% verbatim %}	
			<h1 class="title">Fluid information</h1>
			<div ng-if="fluids.loading"><h2 class="loading">Loading...</h2></div>
			<div ng-if="fluids.errorLoading"><h2 class="error">Error loading!</h2></div>
			<div ng-if="fluids.obtained">			
				<div class="infoContainer">
					<div class="select-text">Select a fluid:</div>
					<div class="field-select choice">
						<select ng-model="selectedFluid" ng-options="fluid as fluid.label for fluid in fluidList"></select>
					</div>
				</div>
				<div>
					<table border="1" class="nice-table docutils">
						<thead valign="bottom">
							<tr>
								<th class="head">Group</th>
								<th class="head">Properties</th>
							</tr>
						</thead>
						<tbody valign="top">	
							<tr ng-repeat="constant in selectedFluid.constants.definitions[0].groups">
								<td ng-bind="constant.label"></td>
								<td>
									<div smo-field-group="constant" view-type="'output'" smo-data-source="selectedFluid.constants.values"></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="infoContainer">
					<h3>Literature References</h3>				
					<div ng-repeat="pair in selectedFluid.references" ng-show="pair[1]">
						<span class="label-text">{{pair[0]}}:</span> {{pair[1].author}}, <span class="italic-text">{{pair[1].title}}</span>
					</div>			
				</div>
			</div>
		</div>
{% endverbatim %}
	</div>	
</div>
{% endblock %}
