{% extends "Base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts_and_styles %}
<script src="{% static 'SmoUtil.js' %}"></script>
<script type="text/javascript" src="http://dygraphs.com/dygraph-dev.js"></script>
<script type="text/javascript" src="http://cavorite.com/labs/js/dygraphs-export/dygraph-extra.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script>
google.load('visualization', '1.0', {'packages':["corechart", "table", "controls"]});
angular.module('FluidPropsCalculator', ['ui.bootstrap', 'smo'])
	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}])
	.controller('FluidPropsController', [ '$scope', '$http', 'ModelCommunicator', function($scope, $http, ModelCommunicator) {
		//Fluid Properties
		$scope.FluidProperties = {};
		
		// Fluids info		
		$scope.FluidInfo = {
			inputCommunicator: new ModelCommunicator()
		};
		
		$scope.FluidInfo.inputCommunicator.fetchData(
			'getFluidInfo', {}, function(comm){
				$scope.FluidInfo.selectedFluid = comm.data[0];
			});
		
		// Saturation properties		
		$scope.SaturationData = {
			inputCommunicator: new ModelCommunicator(),		
		};
			
		$scope.SaturationData.inputCommunicator.fetchData(
			'getFluidList', {}, function(comm){
				$scope.SaturationData.selectedFluid = comm.data[0][0];
			});
		
		$scope.fetchSaturationData = function (){
			$scope.SaturationData.resultViewCommunicator.fetchData(
					'compute', {fluidName : $scope.SaturationData.selectedFluid});	
		}
}])
</script>
{% endblock %}


{% block pills %}
	<li class="active" role="presentation"><a id="calcTab" data-target="#calculator" role="tab" data-toggle="tab">Calculator</a></li>
	<li role="presentation"> <a id="fluidsTab" data-target="#fluids" role="tab" data-toggle="tab">Fluid info</a></li>
	<li role="presentation"> <a id="saturationTab" data-target="#saturation" role="tab" data-toggle="tab">Saturation</a></li>
	<li role="presentation"> <a id="docTab" data-target="#doc" role="tab" data-toggle="tab">Doc</a></li>
{% endblock %}

{% block content %}
<div ng-app="FluidPropsCalculator" ng-controller="FluidPropsController">
	<div class="tab-content">
		<div class="tab-pane active page-container" id="calculator">		
			<h1 class="title">Fluid properties calculator</h1>
			<div class="title-figure">
				<img height="150" style="width: 250px" src="{% static 'ThermoFluids/StateDiagram3D.svg' %}"></img>
			</div>		
{% verbatim %}		
			<div class="tab-content">
				<div class="section"> 
					<div smo-model-view="inputView" model-name="FluidProperties" view-type="input" auto-fetch="true" record-Id=""></div>
				</div>
				<div class="section"> 
					<div smo-model-view="resultView" model-name="FluidProperties" view-type="output" record-Id=""></div>
				</div>
			</div>
{% endverbatim %}
		</div>
		<div class="tab-pane" id="doc">
			<div class="docview">
				{% include 'documentation/html/FluidPropertiesDoc.html' %}
			</div>
		</div>
		<div class="tab-pane page-container" id="fluids">
{% verbatim %}	
			<h1 class="title">Fluid information</h1>			
			<div ng-if="FluidInfo.inputCommunicator.loading" class="alert alert-info" role="alert">Loading...</div>
			<div ng-if="FluidInfo.inputCommunicator.commError" class="alert alert-danger" role="alert">Communication error: <span ng-bind="FluidInfo.inputCommunicator.errorMsg"></span></div>
			<div ng-if="FluidInfo.inputCommunicator.serverError" class="alert alert-danger" role="alert">Server error: <span ng-bind="FluidInfo.inputCommunicator.errorMsg"></span></div>
			<div ng-if="FluidInfo.inputCommunicator.dataReceived">
				<div class="section">
					<div class="field-label">Select a fluid:</div>
					<div class="field-select choice">
						<select ng-model="FluidInfo.selectedFluid" ng-options="fluid as fluid.label for fluid in FluidInfo.inputCommunicator.data"></select>
					</div>
				</div>
				
				<div class="section">
					<div style="display: inline-block;" ng-repeat="constant in FluidInfo.selectedFluid.constants.definitions[0].groups">
						<div smo-field-group="constant" view-type="'output'" smo-data-source="FluidInfo.selectedFluid.constants.values">
						</div>
					</div>
				</div>				
				<div class="section">
					<h1>Literature References</h1>				
					<div ng-repeat="pair in FluidInfo.selectedFluid.references" ng-show="pair[1]">
						<span class="label-text">{{pair[0]}}:</span> {{pair[1].author}}, <span class="italic-text">{{pair[1].title}}</span>
					</div>			
				</div>
			</div>
			
		</div>
{% endverbatim %}
		<div class="tab-pane page-container" id="saturation">
			<h1 class="title">Saturation</h1>
			<div ng-if="SaturationData.inputCommunicator.loading" class="alert alert-info" role="alert">Loading...</div>
			<div ng-if="SaturationData.inputCommunicator.commError" class="alert alert-danger" role="alert">Communication error: <span ng-bind="SaturationData.inputCommunicator.errorMsg"></span></div>
			<div ng-if="SaturationData.inputCommunicator.serverError" class="alert alert-danger" role="alert">Server error: <span ng-bind="SaturationData.inputCommunicator.errorMsg"></span></div>
			<div ng-if="SaturationData.inputCommunicator.dataReceived">						
				<div class="section">
					<div class="field-label">Select a fluid:</div>
					<div class="field-select choice">
						<select ng-model="SaturationData.selectedFluid" ng-options="pair[0] as pair[1] for pair in SaturationData.inputCommunicator.data"></select>
					</div>
					<div class="field-select choice" style="margin-left: 5px;">
						<button class="btn btn-primary" ng-click="fetchSaturationData()">Go!</button>
					</div>				
					<div smo-model-view="resultView" model-name="SaturationData" view-type="output" record-Id=""></div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
