{% extends "Base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts_and_styles %}
<script src="{% static 'SmoUtil.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/SmoInputOutputView.css' %}">
<script>
angular.module('FreeConvection', ['ui.bootstrap', 'smo'])
	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}])
	.controller('FreeConvectionController', 
		[ '$scope', 'ModelCommunicator', function($scope, ModelCommunicator) {
		$scope.convectionExternal = {
			inputCommunicator: new ModelCommunicator(),
			resultsCommunicator: new ModelCommunicator()
		};
		$scope.convectionExternal.inputCommunicator.fetchData(
			'getConvectionExternalInputs', {});
		
		$scope.computeExternal = function() {
			$scope.convectionExternal.resultsCommunicator.fetchData(
				'computeConvectionExternal', $scope.convectionExternal.inputCommunicator.data.values);
		}
		
		$scope.convectionInternal = {
			inputCommunicator: new ModelCommunicator(),
			resultsCommunicator: new ModelCommunicator()
		};
		$scope.convectionInternal.inputCommunicator.fetchData(
			'getConvectionInternalInputs', {});
		
		$scope.computeInternal = function() {
			$scope.convectionInternal.resultsCommunicator.fetchData(
				'computeConvectionInternal', $scope.convectionInternal.inputCommunicator.data.values);
		}
		
	}]);
</script>
{% endblock %}

{% block pills %}
	<li class="active" role="presentation"><a id="externalTab" data-target="#external" role="tab" data-toggle="tab">External</a></li>
	<li role="presentation"><a id="internalTab" data-target="#internal" role="tab" data-toggle="tab">Internal</a></li>
	<li role="presentation"><a id="docTab" data-target="#doc" role="tab" data-toggle="tab">Doc</a></li>
{% endblock %}

{% block content %}
<div ng-app="FreeConvection" ng-controller="FreeConvectionController">
	<div class="tab-content">
		<div class="tab-pane active page-container" id="external">
			<h1 class="title">Free convection (external flow)</h1>
			<div class="title-figure">
<!-- 				<img src="{% static '' %}" type="image/svg+xml"></object> -->
			</div>
			<div smo-model-view="convectionExternalInputs" view-type="input" communicator="convectionExternal.inputCommunicator"></div>
			<div class="section" style="margin-left: 20px;"> 		
				<div ng-show="convectionExternal.inputCommunicator.dataReceived"><button ng-disabled="!convectionExternal.inputCommunicator.fieldsValid" 
					 class="btn btn-default" ng-click="computeExternal()">Compute</button>
				</div>
			</div>
			<div class="section"> 
				<div smo-model-view="convectionExternalResults" view-type="output" communicator="convectionExternal.resultsCommunicator"></div>
			</div>
		</div>
		<div class="tab-pane page-container" id="internal">
			<h1 class="title">Free convection (internal flow)</h1>
			<div class="title-figure">
<!-- 				<img src="{% static '' %}" type="image/svg+xml"></object> -->
			</div>
			<div smo-model-view="convectionInternalInputs" view-type="input" communicator="convectionInternal.inputCommunicator"></div>
			<div class="section" style="margin-left: 20px;"> 		
				<div ng-show="convectionInternal.inputCommunicator.dataReceived"><button ng-disabled="!convectionInternal.inputCommunicator.fieldsValid" 
					 class="btn btn-default" ng-click="computeInternal()">Compute</button>
				</div>
			</div>
			<div class="section"> 
				<div smo-model-view="convectionInternalResults" view-type="output" communicator="convectionInternal.resultsCommunicator"></div>
			</div>
		</div>
		<div class="tab-pane" id="doc">
			<div class="docview">
				{% include 'documentation/html/FreeConvection.html' %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

