{% extends "Base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts_and_styles %}
<script src="{% static 'SmoUtil.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/SmoInputOutputView.css' %}">

<script type="text/javascript" src="http://dygraphs.com/dygraph-dev.js"></script>
<script type="text/javascript" src="http://cavorite.com/labs/js/dygraphs-export/dygraph-extra.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
angular.module('TestApp', ['ui.bootstrap', 'smo'])
	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}])
	.controller('TestController', [ '$scope', '$http', 'ModelCommunicator', function($scope, $http, ModelCommunicator) {
		$scope.testArray = [
		                    [{'value': 1}, {'value': 2}, {'value': 3}], 
		                    [{'value': 1}, {'value': 2}, {'value': 3}]
							];
		
		$scope.testModel = {
				inputCommunicator: new ModelCommunicator(),
				resultsCommunicator: new ModelCommunicator()
			};
			
			$scope.testModel.inputCommunicator.fetchData(
				'getData', {}, function(comm){
					$scope.arrayDefs= comm.data.definitions[0].groups[0];
					$scope.arrayVals = comm.data.values.testArray;
					console.log($scope.arrayDefs);
					console.log($scope.arrayVals);
// 					$scope.renderArray();
				});
			
			$scope.renderArray = function(){			
// 				var numRows = $scope.arrayVals.length;
// 				var numCols = $scope.arrayDefs.fields.length;
// 				$scope.fields = [];
// 				for (var i=0; i<numRows; i++){
// 					var row = [];
// 					for (var j=0; j<numCols; j++){
// 						row.push()
// 					}
// 				}
			}
		
		
}])
</script>
{% endblock %}


{% block pills %}
	<li class="active" role="presentation"><a id="testTab" data-target="#test" role="tab" data-toggle="tab">Test</a></li>
{% endblock %}

{% block content %}
<div ng-app="TestApp" ng-controller="TestController">
		<div class="page-container">		
			<h1 class="title">Test calculator</h1>
			<div ng-if="testModel.inputCommunicator.loading" class="alert alert-info" role="alert">Loading...</div>
				<div ng-if="testModel.inputCommunicator.commError" class="alert alert-danger" role="alert">Communication error: <span ng-bind="testModel.inputCommunicator.errorMsg"></span></div>
				<div ng-if="testModel.inputCommunicator.serverError" class="alert alert-danger" role="alert">Server error: <span ng-bind="testModel.inputCommunicator.errorMsg"></span>
					<div>Stack trace:</div><pre><div ng-bind="testModel.inputCommunicator.stackTrace"></div></pre>
				</div>
			
			<div ng-if="testModel.inputCommunicator.dataReceived">
{% verbatim %}
				<div class="section">
					<table class="nice-table">
						<th ng-repeat="field in arrayDefs.fields">
							{{field.name}}
						</th>
						<tr ng-repeat="row in arrayVals">
							<td ng-repeat="value in row">
								{{value}}
							</td>
						</tr>
					</table>
				</div>
<!-- <div smo-array-quantity view-type="input" field-var="field" smo-data-source="dataValues[i][$index]"></div> -->
{% endverbatim %}
				<div class="section">
				</div>
			</div>
		</div>
</div>
{% endblock %}
