{% extends "Base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block scripts_and_styles %}
<script src="{% static 'SmoUtil.js' %}"></script>
<script type="text/javascript" src="http://dygraphs.com/dygraph-dev.js"></script>
<script type="text/javascript" src="http://cavorite.com/labs/js/dygraphs-export/dygraph-extra.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
angular.module('TestApp', ['ui.bootstrap', 'smo'])
	.config(['$httpProvider', function($httpProvider) {
	    $httpProvider.defaults.xsrfCookieName = 'csrftoken';
	    $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
	}])
	.controller('TestController', [ '$scope', '$http', 'ModelCommunicator', function($scope, $http, ModelCommunicator) {
		$scope.testModel = {
				inputCommunicator: new ModelCommunicator(),
				resultCommunicator: new ModelCommunicator()
			};
			
			$scope.testModel.inputCommunicator.fetchData(
				'getInputs', {});
			$scope.compute = function() {
				$scope.testModel.resultCommunicator.fetchData(
					'compute',  $scope.testModel.inputCommunicator.data.values);
			}
}])
</script>
{% endblock %}


{% block pills %}
	<li class="active" role="presentation"><a id="testTab" data-target="#test" role="tab" data-toggle="tab">Test</a></li>
{% endblock %}

{% block content %}
<div ng-app="TestApp" ng-controller="TestController">
		<div class="page-container">		
			<h1 class="title">Test calculator</h1>			
{% verbatim %}
			<div class="section">
				<div smo-model-view="testModelInputs" view-type="input" communicator="testModel.inputCommunicator"></div> 
			</div>
			<div class="section">
				<button ng-click="compute()">Compute</button> 
			</div>
			<div class="section">
				<div smo-model-view="testModelResults" view-type="output" communicator="testModel.resultCommunicator"></div> 
			</div>
{% endverbatim %}
		</div>
</div>
{% endblock %}
